.apexcharts-legend-series {
    margin-bottom: 0.5rem !important;
}
/* 
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveAndRotate {
    0% {
        top: 0;
        left: 0;
        transform: rotate(0deg);
    }

    50% {
        top: 50%;
        left: 50%;
        transform: rotate(180deg);
    }

    100% {
        top: 0;
        left: 100%;
        transform: rotate(360deg);
    }
}

img {
    width: 150px;
    height: 150px;
    position: absolute;
    animation: rotate 5s infinite linear;
}

.top-left {
    top: 50;
    left: 400;
}

.top-right {
    top: 0;
    right: 0;
}

.bottom-left {
    bottom: 0;
    left: 450;
}

.bottom-right {
    bottom: 0;
    right: 0;
} */